<div class="container-fluid px-0">

    <!-- <app-top-navbar></app-top-navbar> -->
     <!-- Header -->
<div class="d-flex align-items-center justify-content-between p-3 border-bottom">
  <div class="d-flex align-items-center ">
    <img
      src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
      alt="Logo" style="max-width: 40px;" class="me-2 rounded">
    <h6 class="mb-0">The LakeView</h6>
  </div>
  <div class="bg-light px-2 py-1 rounded small shadow"> <i class="fa fa-table"></i> T-1</div>
</div>



 <app-bottom-navbar></app-bottom-navbar>



</div>

