

/* Accordian */
.accordion-button {
  background-color: transparent !important; 
  color: inherit;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important; 
  box-shadow: none; 
}
.accordion-button:focus {
  box-shadow: none; 
}
.accordion-button:hover {
  background-color: transparent !important;
}


.text-orange {
  color: orange !important;
}



