
.btn-outline-orange {
  color: #f26522;
  border: 1px solid #f26522;
  border-radius: 6px;
}

.btn-outline-orange:hover {
  background-color: #f26522;
  color: white;
}

.text-orange {
  color: #f26522 !important;
}


/* Accordian */
.accordion-button {
  background-color: transparent !important; 
  color: inherit;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important; 
  box-shadow: none; 
}
.accordion-button:focus {
  box-shadow: none; 
}
.accordion-button:hover {
  background-color: transparent !important;
}


.text-orange {
  color: orange !important;
}



