<div class="position-relative">
  <ng-container *ngIf="quantity === 0; else quantityCounter">
    <button (click)="addItem()" class="btn btn-outline-orange bg-light btn-sm position-absolute fs-6"
      style="bottom: -1px; left: 50%; transform: translateX(-50%); z-index: 2; min-width: 90px;padding: 2px 8px; height: 32px;">
      + Add
    </button>
  </ng-container>

  <!-- <ng-container *ngIf="quantity === 0; else quantityCounter">
  <button (click)="addItem()" 
          class="btn btn-outline-orange bg-light btn-sm position-absolute text-orange fw-medium border-orange"
          style="bottom: -1px; left: 50%; transform: translateX(-50%); z-index: 2; min-width: 90px; padding: 2px 8px; height: 32px;">
    + Add
  </button>
</ng-container> -->

  <ng-template #quantityCounter>
    <div class="d-inline-flex align-items-center border rounded border-orange bg-light position-absolute"
      style="bottom: -1px; left: 50%; transform: translateX(-50%); z-index: 2; min-width: 90px; padding: 2px 8px; height: 32px;">

      <button (click)="decreaseQty()" class="btn btn-outline-orange btn-sm border-0 px-2 py-0">
        −
      </button>

      <span class="mx-2 fw-medium text-orange">{{ quantity }}</span>

      <button (click)="increaseQty()" class="btn btn-outline-orange btn-sm border-0 px-2 py-0">
        +
      </button>
    </div>
  </ng-template>

</div>
