<!-- Page Container -->
<div class="container-fluid px-0">
  <app-heading></app-heading>

  <div class="mb-3">
    <a routerLink="/menu" class="btn btn-outline-secondary">
      ← Back to Menu
    </a>
  </div>

  <!-- <app-top-navbar></app-top-navbar> -->
 
 
  <!-- Menu Section -->
  <!-- <div class="p-3">
    <h6>Chef Special (3)</h6>

   
    <div class="d-flex justify-content-between align-items-center border-bottom py-2">
      <div>
        <h6 class="mb-1">Tofu In Thai Peanut Sauce</h6>
        <p class="mb-1">₹299.00</p>
      </div>
      <div class="text-end">
        <img src="https://via.placeholder.com/80" class="rounded mb-2" alt="Tofu" style="width: 80px; height: auto;">
        <button class="btn btn-outline-orange btn-sm w-100">+ Add</button>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center border-bottom py-2">
      <div>
        <h6 class="mb-1">Burrata & Basil Pide</h6>
        <p class="mb-1">₹330.00</p>
      </div>
      <div class="text-end">
        <img src="https://via.placeholder.com/80" class="rounded mb-2" alt="Burrata" style="width: 80px; height: auto;">
        <button class="btn btn-outline-orange btn-sm w-100">+ Add</button>
      </div>
    </div>


    <div class="d-flex justify-content-between align-items-center py-2">
      <div>
        <h6 class="mb-1">Asian Pan Fried Cheese Bao</h6>
        <p class="mb-1">₹239.00</p>
      </div>
      <div class="text-end">
        <img src="https://via.placeholder.com/80" class="rounded mb-2" alt="Bao" style="width: 80px; height: auto;">
        <button class="btn btn-outline-orange btn-sm w-100">+ Add</button>
      </div>
    </div>

  </div> -->


   <app-bottom-navbar></app-bottom-navbar>
</div>
