<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center bg-pattern">
  <div class="card text-center shadow-lg border-0 w-75" style="max-width: 400px; border-radius: 12px; background-color: white;">
    <div class="card-body p-5">
      <img src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png" alt="The Turkish House Logo" class="mb-3 mx-auto" style="max-width: 120px;">
      <h5 class="card-title mb-3">The LakeView</h5>
      <a routerLink="menu" class="btn btn-orange w-100">Order Now <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>    
</div>

