.btn-orange {
  background-color: #f26522;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
}

.btn-orange:hover {
  background-color: #d4571e;
  color: #fff;
}


.bg-card {
  background-image: url('/public/assets/bg3.jpg');
  background-size: cover;
  background-position: center;
}
