.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}



.list-group-item.active {
  background-color: #275327;
  color: white;
}
