<!-- Search Dropdown -->
<div class="p-3 border-bottom position-relative">
  <div class="input-group">
    <span class="input-group-text">
      <i class="fa fa-search"></i>
    </span>
    <input type="text" #searchInput [(ngModel)]="searchText" class="form-control" placeholder="Search item"
           (keydown)="onKeyDown($event)">
  </div>

  <!-- Dropdown menu -->
  <ul *ngIf="searchText" class="list-group position-absolute " style="z-index: 1000; max-height: 200px ;width:15rem; overflow-y: auto;">
    <li *ngFor="let item of filteredItems(); let i = index"
        [class.active]="i === selectedIndex"
        class="list-group-item"
        (click)="selectItem(item)">
      {{ item }}
    </li>

    <li *ngIf="filteredItems().length === 0" class="list-group-item text-muted">
      No results found.
    </li>
  </ul>
</div>


<!-- Category Menu (Navigation bar of Menu Category) -->

<div class="d-flex flex-nowrap overflow-auto px-3 py-3 bg-light no-scrollbar "
     style="position: sticky; top: 0; z-index: 1030;">
  <div *ngFor="let category of categories" class="text-center me-3 flex-shrink-0" style="width:90px;">
    <div class="d-flex flex-column align-items-center">
      <img [src]="category.image" class="rounded mb-1"
           [alt]="category.name" style="width:80px; height:60px; object-fit:cover;">
      <small>{{ category.name }}</small>
    </div>
  </div>
</div>


