
  <!-- Header -->
  <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
    <div class="d-flex align-items-center ">
      <img
        src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
        alt="Logo" style="max-width: 40px;" class="me-2 rounded">
      <h6 class="mb-0">The LakeView</h6>
    </div>
    <div class="bg-light px-2 py-1 rounded small shadow"> <i class="fa fa-table"></i> T-1</div>
  </div>

  <!-- Search -->
  <div class="p-3 border-bottom">
    <div class="input-group">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
      <input type="text" class="form-control" placeholder="Search item">
    </div>
  </div>


  <!-- Category Menu (Navigation bar of Menu Category) -->
  <div class="d-flex flex-nowrap overflow-auto px-3 py-3 border-bottom bg-white no-scrollbar shadow">

    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Turkish Food</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Soup</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Sushi</small>
      </div>
    </div>

    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Asian Starters</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Coffee</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Tea</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Hot Chocolate</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Cold Coffee</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Cold Brew</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Shakes</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Mocktails</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Lemonades</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Iced Green Teas</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Burgers</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Sandwiches</small>
      </div>
    </div>

    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Turkish Pide</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Wood Fire Pizza</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Italian Pastas</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Main Course</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Chinese Appetizers</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Bao</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Thai</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Noodles</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Rice</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Sizzlers</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Healthy</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Salad</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Dessert</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Beverages</small>
      </div>
    </div>
    <div class="text-center me-3 flex-shrink-0" style="width:80px;">
      <div class="d-flex flex-column align-items-center">
        <img
          src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/3e996923-ea11-4c29-827f-b72b7941d73a.png"
          class="rounded-circle mb-1" alt="Soup" style="width:60px; object-fit:cover;">
        <small>Maggie</small>
      </div>
    </div>








    <!-- Add more categories similarly -->
  </div>


